<footer>
    <style>
        #a-custom {
            font-size:25px;
            text-indent: 25px;
        }
    </style>
    <br>
    <div class="container text-center">
        <div class="row justify-content-center">
                <a href="https://github.com/MoreAllMaxx" class="fa fa-github icon" style="font-size:25px;"></a>
                <a href="tel:+79022662344" class="fa fa-phone icon" id="a-custom"></a>
                <a href="mailto:frayneqt@gmail.com" class="fa fa-envelope icon" id="a-custom"></a>
                <a href="https://t.me/MoreAllMaxx" class="fa fa-telegram icon" id="a-custom"></a>
        </div>
    </div>
    <br>
    <div class="container text-center">
        <div class="row justify-content-center">
            <h6>&copy; 2022 | <i>Maxim Dontsov</i></h6>
        </div>
    </div>
</footer>